#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button{
    font-size: 1.5rem;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}
input{
    font-size: 1.5rem;
    width: 150px;
    text-align: center;
    font-weight: bold;
}
#images img{
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 15px;
}